
<h1>Physicians</h1>

<p>Sign up or log in to create a physician review</p>

<%= link_to "Sign up", new_user_registration_path %><br>

<%= link_to "Log in", user_session_path %>

<body>
  <% @physicians.each do |physician| %>
  <ul>
      <li><%= link_to "#{physician.first_name}", physician %></li>
  <ul>

<% end %>
</br>
</body>
