
<h1>Physicians</h1>

<p>Sign up or log in to create a physician review</p>

<%= link_to "Sign up", new_user_registration_path %><br>

<%= link_to "Log in", user_session_path %>

<tbody>
  <% @physicians.each do |list| %>
  <tr>
    <td><%= list.first_name %></td>
    <td><%= list.last_name %></td>
  </tr>
<% end %>
</br>
</tbody>
