
<!-- <body>
  <div class="jumbotron">
    <h1 class="display-3">Physicians</h1>
    <p class="lead">Log in or sign up to create a Physician Review.</p>
    <hr class="my-4">
    <p>
      <% @physicians.each do |physician| %>
      <ul>
        <li><%= link_to "#{physician.first_name}" "#{physician.postal_code}", physician %></li>
      </ul>
      <% end %>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/users/sign_in" role="button">Log in</a>
      <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Sign up</a>
    </p>
  </div>
</body> -->
