<section class="physicians-bg">
  <div class="container">
    <div class="row">

      <% @physicians.each do |physician| %>
          <div class="col-12 col-md-4">
            <%= link_to physician do %>
            <div class="physician-box">
              <div class="left-img">
                <img src="/assets/profile.jpg" alt="" class="img-responsive">
                <div class="retes">
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <div class="box-del">
                <h4><%= physician.first_name %><%#= link_to "#{physician.first_name}" "#{physician.postal_code}", physician %></h4>
                <h5>Medical Specialists</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
              </div>
            </div>
            <% end %>
          </div>
      <% end %>

    </div>
  </div>
</section>
