<section class="banner">
  <div class='container'>
    <div class="row">
      <div class="col-12 text-center">
        <div class="banner-text">
          <img src="assets/MEFMLogo.png" alt="" class="img-responsive">
          <!-- <%= image_tag("MEFMLogo.png", :alt => "ME & FM Logo") %> -->
          <h1>ME & FM <span>Providers</span></h1>
          <p class="text primary">Finding a medical provider who knows<span>ME & FM is hard</span<p>

          <div class="banner-search">
            <span>We make it easy</span>
            <form class = "search">
              <input type="text" name="search" placeholder="Search By Postal Code">
            </form>
            <button type="button" class="btn btn-search btn-lg">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="head text-center">What We Are About</h2>
        <div class="about-desc">
          <p>In an ideal world we would not need to create a specialised ME and FM database for physicians and other healthcare practitioners.</p>
          <p>In an ideal world, there would be an adequate number of health care professionals who are very knowledgeable about ME and FM; there would be testing and treatments, all covered by MSP.</p>
          <p>In an ideal world, there would be no stigma, no need for patients to be exposed to a health care system that more often than not treats them as malingers or psychiatric patients who just need to “push” themselves and get over it.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="about-app">
  <div class="container">
    <div class="row">
      <h2 class="head text-center col-12">What This App Is About</h2>

      <div class="col-12 col-md-4 text-center">
        <div class="app-about-box">
          <img src="/assets/doctorlocator.png"  alt="Doctor Locator" class="img-responsive"/>
          <h4>Providers Close To You</h4>
          <div class="box-text">
            <p>Not every practitioner is capable of understanding and treating ME & FM. We help find the closest one to you based on your postal code.</p>
            <p>No more wasting time and calling numerous practices and clinics. Find a practitioner in 30 seconds!</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 text-center">
        <div class="app-about-box">
          <img src="/assets/review.png" alt="Review" class="img-responsive"/>
          <h4>Review Providers</h4>
          <div class="box-text">
            <p>Rate and review. Review the practitioners you do visit, and rate them on a variety of important factors.</p>
            <p>It's more than being knowledgeable. It's about bedside manner and creating support systems that you can count on.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 text-center">
        <div class="app-about-box">
          <img src="/assets/openheart.png" alt="Open Heart" class="img-responsive"/>
          <h4>Help Others</h4>
          <div class="box-text">
            <p>With your ratings and reviews, you also help your community.</p>
            <p> With 17 million people affected worldwide, you can help them find a practiioner that can get them started on a path to treatment and a happier life.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
