<div class='container text-center'>

  <%= image_tag("MEFMLogo.png", :alt => "ME & FM Logo") %>

  <h1 class="display-1">ME & FM</h1>
  <h1 class="display-1">Providers</h1>

  <h2 class="text primary">Finding a medical provider who knows ME & FM is hard...<h2>
  <h2 class="text primary">We make it easy<h2>

  <form class = "main search">
    <i class="fas fa-search"></i>
    <input type="text" name="search" placeholder="Search By Postal Code">
  </form>
  <br>
  <button type="button" class="btn btn-primary btn-lg">Search</button>



</div>

<br>
<br>

<h2 class="display-2 text-center">What We Are About</h2>
<div class="container text-center jumbotron">

  <h4>In an ideal world we would not need to create a specialised ME and FM
  database for physicians and other healthcare practitioners.</h4>

  <h4>In an ideal world, there would be an adequate number of health care professionals
    who are very knowledgeable about ME and FM; there would be testing and treatments,
    all covered by MSP.</h4>

  <h4>In an ideal world, there would be no stigma,
    no need for patients to be exposed to a health care system that more often
    than not treats them as malingers or psychiatric patients who just need to
    “push” themselves and get over it.</h4>
</div>

<br>
<br>

<h2 class="display-2 text-center">What This App Is About</h2>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      <img src="/assets/doctorlocator.png" width="225" height="225" alt="Doctor Locator" />
      <br>
      <br>
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Providers Close To You</h4>
          <p class="card-text">Not every practitioner is capable of understanding and treating ME & FM.
            We help find the closest one to you based on your postal code.</p>
          <p>No more wasting time and calling numerous practices and clinics. Find a practitioner in
            30 seconds!</p>
        </div>
      </div>
    </div>

    <div class="col-sm text-center">
      <img src="/assets/review.png" width="225" height="225" alt="Review" />
      <br>
      <br>
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Review Providers</h4>
          <p class="card-text">Rate and review. Review the practitioners you do visit, and rate them on a variety
            of important factors.</p>
          <p>It's more than being knowledgeable. It's about bedside manner and creating support systems that
            you can count on.</p>
            <br>
        </div>
      </div>
    </div>
    <div class="col-sm text-center">
      <img src="/assets/openheart.png" width="225" height="225" alt="Open Heart" />
      <br>
      <br>
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Help Others</h4>
          <p class="card-text">With your ratings and reviews, you also help your community.</p>
          <p> With 17 million people affected worldwide, you can help them find a practiioner that
            can get them started on a path to treatment and a happier life.</p>
            <br>
        </div>
      </div>
    </div>
  </div>
</div>
